# Eclipse
.classpath
.project
.settings/

# Intellij
.idea/
*.iml
*.iws
build
out/

# Mac
.DS_Store

# Gradle
.gradle

# Maven
target

logs/
lib
libs
/src/test/java/lars/exercism/
/src/main/java/lars/exercism/
