# Eclipse
.classpath
.project
.settings/

# Intellij
.idea/*
!.idea/icon.png
*.iml
*.iws
build
out/

# Mac
.DS_Store

# Gradle
.gradle

# Maven
target

# Testcontainers cloud
agent

# approvaltests
*.received.*

logs/
lib
libs
bin
/src/test/java/lars/exercism/
/src/main/java/lars/exercism/

# Advent of Code inputs
src/test/resources/advent*/**

tcc-agent
