<configuration>
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%t %d{HH:mm:ss.SSS} %-5level %logger - %msg%n</pattern>
    </encoder>
  </appender>

  <root level="info">
    <appender-ref ref="STDOUT"/>
  </root>

  <logger name="org.testcontainers" level="INFO"/>
  <logger name="com.github.dockerjava" level="WARN"/>
  
  <!-- Reduce noise from connection pool libraries -->
  <logger name="com.vladmihalcea.flexypool" level="ERROR"/>
  <logger name="com.zaxxer.hikari" level="ERROR"/>
</configuration>
